<div class="page-title">
  <h4>История заказов</h4>
  <button
    (click)="isFilterVisible = !isFilterVisible"
    [ngClass]="{active: isFilterVisible, red: isFiltered()}"
    class="btn btn-small"
    data-tooltip="Открыть фильтр"
    data-position="left"
    #tooltip>
    <i class="material-icons">filter_list</i>
  </button>
</div>
<app-history-filter (onFilter)="applyEvenet($event)" *ngIf="isFilterVisible"></app-history-filter>

<ng-container *ngIf="!reloading; else reloadingBlock">
  <ng-container *ngIf="orders.length; else empty">
    <app-history-list [orders]="orders"></app-history-list>
    <div class="center mb2" *ngIf="!noMoreOrders">
      <button *ngIf="!loading; else loader"
              (click)="loadMore()" class="btn waves-effect grey darken-1 btn-small">Загрузить еще
      </button>
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #empty>
    <div class="center">Заказов пока нет</div>
  </ng-template>
</ng-container>
<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>
